<!DOCTYPE html>
<html>
  <head>
    <title>Twatter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react' %>
    <%= favicon_link_tag asset_path('favicon-16x16.png') %>
    <script>
      window.currentUser = "<%= current_user.to_json %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
